@import '@/presentation/styles/index.scss';

.button-edit-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: #000;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
        width: 1.25rem;
        color: #ffffff;
    }
    // Estilos del componente
}
