@import '@/presentation/styles/index.scss';

.preview-image-original {
}

.button-mini__icon {
    width: 32px;
}

.error-credits {
    position: absolute;
    top: 7.5rem;
    right: 50px;
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 183, 183);
    border: 1px solid #FF0000;
    border-radius: 8px;
    padding: 0 1rem;
    p {
        font-size: .875rem;
        font-weight: 400;
        color: #FF0000;
    }
}