@import '@/presentation/styles/index.scss';

.form-preview {
    width: auto;
    height: calc(100dvh - 14.375rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
