@import '@/presentation/styles/index.scss';

.input-select-image {
    width: 72px;
    height: 72px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 8px 8px 29px -17px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 29px -17px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 29px -17px rgba(66, 68, 90, 1);
    &__title {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            color: #828282;
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.drag-drop-relative {
    width: 100%;
    height: calc(100% );
    position: relative;
}

.file-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    cursor: pointer;
    
}

.input-drag-drop {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px dashed #BDBDBD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 24px;
    cursor: pointer;
    p {
        font-size: 1rem;
        font-weight: 400;
        color: #828282;
        text-align: center;
    }
    
    &__icon {
        width: 32px;
        color: #333;
    }
}

.p-selected-file {
    font-size: 1rem;
    font-weight: 400;
    color: #828282;
    text-align: center;
    margin-top: 0.5rem;
}
