@import '@/presentation/styles/index.scss';

.form-select-image {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}
