@import '@/presentation/styles/index.scss';

.button-closed-secondary {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &__icon {
        width: 24px;
        color: #000000;
    }
}
