@import '@/presentation/styles/index.scss';

.counter-tokens {
    position: absolute;
    width: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    top: 1rem;
    left: 2rem;
    &__credits {
        font-size: 1rem;
        font-weight: semi-bold;
        color: #000; // Neutral color for credits
    }
    &__values {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &__initial {
            font-size: 1rem;
            font-weight: 500;
            color: #000; // Green for initial tokens
        }
        &__separate {
            font-size: 1rem;
            color: #000; // Neutral color for separator
        }
        &__actualy {
            font-size: 1rem;
            font-weight: 500;
            color: #757575; // Red for actual tokens   
        }
    }
}
