@import '@/presentation/styles/index.scss';

.modulo-dije-select {
    position: relative;
    width: 90vw;
    height: 90dvh;
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
