@import '@/presentation/styles/index.scss';

.logo-image {
    width: 250px;
    height: 72px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
