@import '@/presentation/styles/index.scss';

.primary-button {
    width: 200px;
    height: 2.5rem;
    background-color: #000000;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    p {
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
    }
}

.disabled-button {
    width: 200px;
    height: 2.5rem;
    background-color: #BDBDBD;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    p {
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
    }
}

.loading-button {
    background-color: #ffffff;
    border: 1px solid #000000;
    cursor: not-allowed;
    p {
        color: #000000;
    }
}