@import '@/presentation/styles/index.scss';

.layout-login {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
