@import '@/presentation/styles/index.scss';

.nav-bar {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    z-index: 100;
}
