@import '@/presentation/styles/index.scss';

.nav-bar {
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #000000;
}
